body{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.sub{
    width: 60px;
    height: 60px;
    background-color: white;
    text-align: center;
    border: 2px solid slategray;
    font-size: 40px;
    border-radius: 20px;
    
}
.add{
    width: 60px;
    height: 60px;
    background-color: white;
    text-align: center;
    border: 2px solid slategrey;
    font-size: 40px;
    border-radius: 20px;
}
.add:active{
    transform: scale(1.2);
    background-color: gray;
    color: white;
}
.sub:active{
    transform: scale(1.2);
    background-color: gray;
    color: white;
}
.main{
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
    width: 400px;
    height: 200px;
    padding-left: 100px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: rgb(219, 151, 24);
    box-shadow: 1px 2px 17px 13px rgba(255,0,0,0.67);
    -webkit-box-shadow: 1px 2px 17px 13px rgba(255,0,0,0.67);
    -moz-box-shadow: 1px 2px 17px 13px rgba(255,0,0,0.67);
}
h1{
    font-size: 45px;
}
h2{
    font-size: 40px;

    
}
h3{
    font-size: 40px;
    color: red;
}